{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<h1>UK Weather History Tracker</h1>
</p>Welcome to the UK Weather History Tracker. This website allows you to view historical weather data from across the UK based on:</p>
<ul>
    <li>Rainfall</li>
    <li>Temperature</li>
    <li>Wind Speed/Direction</li>
</ul>
<img src="https://t4.ftcdn.net/jpg/05/76/50/59/360_F_576505936_VLdEYvjSBYgs1EkweYeGqBPgbxHFuenC.jpg" alt="Sample" style="max-width:100%;height:auto;margin-top:16px;">


{% if api_data %}
    <div>
        <h3>API Result:</h3>
        <pre>{{ api_data | tojson(indent=2) }}</pre>
    </div>
{% endif %}
 
{% endblock %}